<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Football Portal</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">
	<script src="/js/jquery/jquery-2.1.4.min.js"></script>

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

</head>
<body>
<div class="blackjack-sdc-digrev-header" data-component-name="blackjack-sdc-digrev-header" data-init="true">
	<div class="site-header">

		<div class="site-header__body">

			<div class="site-header__col site-header__col1">
				<a href="/" class="svg-logo site-header__logo">
					<img class="svg-logo__image" src="/images/Sky-Sports-Logo-transparent.svg" alt="Sky Sports"
						 onerror="this.onerror=null;this.src='/images/Sky-Sports-Logo-transparent.png'">
				</a>
			</div>

			<div class="site-header__col site-header__col2">

			</div>

			<div class="site-header__col site-header__col3">

				<form action="/search" method="GET" class="site-search">
					<input type="text" name="q" placeholder="Search Player" accesskey="q" autocomplete="off"
						   autocorrect="off" autocapitalize="off" class="site-search__input">
					<input type="hidden" value="the site" name="searchtype">
					<input type="hidden" name="v" value="2">
					<button class="site-search__button">
						<span class="site-search__button-label">Search</span>
						<svg class="site-nav-desktop__icon" width="2048" height="2048" viewBox="0 0 2048 2048">
							<path d="M2038.957 1834.615l-636.008-634.508c83.804-123.102 133.1-271.75 133.1-432.1 0-424.353-343.702-768.01-768-768.01-2.655 0-5.202.407-7.905.407C564.7-2.252 368.395 70.45 219.293 219.552 69.145 369.452-3.457 567.21.246 763.71c0 1.444-.203 2.75-.203 4.296 0 424.203 343.75 768.007 768.008 768.007 159.353 0 307.298-48.602 430-131.5l636.204 634.398c12 12.103 31.703 12.103 43.703.103l161-160.797c12-12 12-31.702 0-43.6zm-896.805-693.008c-187.852 187.805-476.805 212.102-691.555 74.398-143.25-107.797-245.75-277.296-245.75-448 0-282.805 280.398-563.203 563.203-563.203 171.602 0 341.898 103.5 449.703 247.898 136.4 214.658 111.595 501.806-75.6 688.907z"></path>
						</svg>
					</button>
				</form>

			</div>

			<a class="site-header__col site-header__col4 site-header__nav-button-hit-area"
			   data-role="open-left-hand-nav" href="#no-js-nav" aria-controls="site-nav-desktop-wrap"
			   aria-expanded="false">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2048 2048" xml:space="preserve" class="site-header__nav-button">
              <rect y="384" width="2048" height="256"></rect>
              <rect y="896" width="2048" height="256"></rect>
              <rect y="1408" width="2048" height="256"></rect>
          </svg>
			</a>

		</div>
		<!-- desktop nav -->
		<div class="site-nav-desktop__wrap">
			<div class="site-nav-desktop" role="navigation" data-role="main-nav" id="site-nav-desktop-wrap"
				 aria-hidden="true">
				<ul class="site-nav-desktop__body">
					{{# each navLinks}}
						<li class="site-nav-desktop__item">
							{{#if submenu}}
								<a href="#no-js-nav"
								   class="site-nav-desktop__item-link site-nav-desktop__item-link--more"
								   aria-controls="site-nav-desktop-sports-more-nav"
								   id="site-nav-desktop-sports-more">{{ label }}
									<svg viewBox="0 0 2048 2048" class="site-nav-desktop__icon" aria-hidden="true">
										<path d="M1024.21 1662.938L2048 638.906l-254.016-253.844-769.773 769.594-769.89-769.594L0 639.022l977.914 977.5"></path>
									</svg>
								</a>
								<div class="site-nav-desktop__menu" aria-labelledby="site-nav-desktop-sports-more"
									 id="site-nav-desktop-sports-more-nav">
									<div class="site-nav-desktop__menu-body">
										<ul class="site-nav-desktop__menu-links">
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/contact">
													All</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/gallery">
													Right back</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/cricket">
													Center back left</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/rugby-union">
													Center back right</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/rugby-league">
													Left back</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/golf">
													Defending midfielder</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/boxing">
													Central midfielder</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/tennis">
													Attacking midfielder</a>
											</li>
											<li class="site-nav-desktop__menu-item">
												<a class="site-nav-desktop__menu-link" href="/cycling">
													Attacker</a>
											</li>
										</ul>
									</div>
								</div>
							{{else}}
								<a href="{{ href }}" class="site-nav-desktop__item-link">{{ label }}</a>
							{{/if}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>

	</div>
</div>

<div id="body">
	<!--
        Flash messages allow you to display once-off status messages to users, e.g. form
        validation errors, success messages, etc
    -->
	{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
			{{/if}}
			{{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
			{{/if}}
			{{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
			{{/if}}
			{{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
			{{/if}}
		</div>
	{{/if}}
	<!-- The content block should contain the body of your template's content-->
	{{{body}}}
</div>

<script src="/js/main.js"></script>
{{{isAdminEditorJS user}}}
</body>
</html>
