<!--
<div class="container">
	<h1>Contact Us</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
-->
<div class="site-wrapper">
	<div class="grid site-layout-primary" data-fn="site-layout-primary" data-lite="true" id="widgetLite-2">
		<div class="grid__col site-layout-primary__col1 football " role="main">
			<!-- page title -->

			<div id="football-wrapper" class="box page-nav__offset grid content-container  ">

				<div class="row-fluid -2cols  -bp30 -bp20 -m24 ">
					<div class="col  span2/3 -spr2">

						<div itemscope="" itemtype="http://schema.org/Person" class="box player-profile">
							<div class="profile-lead">
								<div class="media -overlay">
									<div class="figure">
										<div class="-auto4/3">
											<img src="http://e1.365dm.com/17/08/800x600/skysports-premier-league-football-mohamed-salah-liverpool_4071859.jpg?20170812142748" alt="Mohamed Salah" class="image" itemprop="image">
										</div>
									</div>
								</div>
							</div>

							<!-- PLAYER DETAILS -->

							<div class="player-details">
								<p class="text-h4 title">Player Details</p>
								<div class="row-table details -bp30">
									<div class="col">
										<p>Name: <strong><span itemprop="name">Mohamed Salah</span></strong></p>                <p>Date of birth:<span itemprop="birthDate">15/06/1992</span></p>                <p>Place of birth:<span itemprop="nationality"> El Gharbia</span></p>
									</div>
									<div class="col">
										<p>Club: <span itemprop="affiliation">Liverpool</span></p><p>Squad: 11</p>                <p>Position: Attacking Midfielder</p>
									</div>
								</div>
							</div>

						</div>
						<div id="career" class="box">
							<div class="callfn on" id="footballTransferHistory" data-fn="tabs" data-toggle="true" data-widget-created="true">
								<div class="accordian">
									<h4 class="item strap1 -interact" data-team="eng" style="border-radius:3px 3px 0 0">
										<div class="button text-h4 on" data-role="tab-item">
											<div class="row-table">
												<div class="col span-2/3 -txt-left -caps" data-short-text="TRANSFER HISTORY">Mohamed Salah transfer history</div>
											</div>
										</div>
									</h4>
									<div class="tab-area" id="tabbox1" data-role="tab-box">
										<div class="box" data-team="eng">
											<table class="table -small -ellipsis -txt-left" id="profile-transfer-history">
												<colgroup>
													<col>
													<col>
													<col>
													<col class="-bp30-hdn">
												</colgroup>
												<thead>
												<tr class="text-s strap2 -interact -clip -ondark -txt-left text-h6">
													<th class="text-h6 -txt-left" title="From">From</th>
													<th class="text-h6 -txt-left" title="To">To</th>
													<th class="text-h6 -txt-left" title="Date">Date</th>
													<th class="text-h6 -txt-left" title="Fee">Fee</th>
												</tr>
												</thead>
												<tbody>
												<tr class="strap1 -interact">
													<td><strong>Basel</strong></td>
													<td><strong>Chelsea</strong></td>
													<td data-short-text="27/01/14">27 Jan 2014</td>
													<td>£15.0m</td>
												</tr>
												<tr class="strap1 -interact">
													<td><strong>Chelsea</strong></td>
													<td><strong>Fiorentina</strong></td>
													<td data-short-text="02/02/15">02 Feb 2015</td>
													<td>Undisclosed</td>
												</tr>
												<tr class="strap1 -interact">
													<td><strong>Chelsea</strong></td>
													<td><strong>Roma</strong></td>
													<td data-short-text="06/08/15">06 Aug 2015</td>
													<td>Undisclosed</td>
												</tr>
												<tr class="strap1 -interact">
													<td><strong>Chelsea</strong></td>
													<td><strong>Roma</strong></td>
													<td data-short-text="26/07/16">26 Jul 2016</td>
													<td>Undisclosed</td>
												</tr>
												<tr class="strap1 -interact">
													<td><strong>Roma</strong></td>
													<td><strong>Liverpool</strong></td>
													<td data-short-text="23/06/17">23 Jun 2017</td>
													<td>£34</td>
												</tr>
												<tr class="strap1 -interact">
													<td><strong>Roma</strong></td>
													<td><strong>Liverpool</strong></td>
													<td data-short-text="01/09/17">01 Sep 2017</td>
													<td>£39.5m</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>




						<div class="callfn on -bp30-hdn" id="footballSeasonStats" data-fn="tabs" data-toggle="true" data-widget-created="true">
							<div class="accordian">
								<h4 class="item strap1 -interact" style="border-radius:3px 3px 0 0">
									<div class="button text-h4 on" data-role="tab-item">
										<div class="row-table">
											<div class="col span-2/3 -txt-left -caps" data-short-text="Season Stats">Mohamed Salah Season Stats</div>
										</div>
									</div>
								</h4>
								<div class="tab-area on" id="tabbox2" data-role="tab-box">
									<div class="box">
										<table class="table -small -ellipsis -txt-left" id="profile-transfer-history">
											<colgroup>
												<col>
												<col>
												<col class="-bp30-hdn">
												<col>
												<col class="-bp30-hdn">
												<col class="-bp30-hdn">
											</colgroup>
											<thead>
											<tr class="text-s strap2 -interact -clip -ondark  -txt-left text-h6">
												<th class=" text-h6 -txt-left" title="Competition">Competition</th>
												<th class=" text-h6 -txt-left" title="Team">Team</th>
												<th class=" digit-5 text-h6" title="Appearances">PLD</th>
												<th class=" digit-2 text-h6" title="Goals">G</th>
												<th class=" digit-2 text-h6" title="Yellow Cards">YC</th>
												<th class=" digit-2 text-h6" title="Red Cards">RC</th>
											</tr>
											</thead>
											<tbody>
											<tr class="strap1 -interact">
												<td class=""><strong>Premier League</strong></td>
												<td class="">Liverpool</td>
												<td style="text-align:center;"><strong>3 (0)</strong></td>
												<td style="text-align:center;">2</td>
												<td style="text-align:center;">0</td>
												<td style="text-align:center;">0</td>
											</tr>
											<tr class="strap1 -interact">
												<td class=""><strong>World Cup</strong></td>
												<td class="">Egypt</td>
												<td style="text-align:center;"><strong>2 (0)</strong></td>
												<td style="text-align:center;">2</td>
												<td style="text-align:center;">0</td>
												<td style="text-align:center;">0</td>
											</tr>
											<tr class="strap1 -interact">
												<td class=""><strong>Int Champs Cup</strong></td>
												<td class="">Liverpool</td>
												<td style="text-align:center;"><strong>1 (1)</strong></td>
												<td style="text-align:center;">1</td>
												<td style="text-align:center;">0</td>
												<td style="text-align:center;">0</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>
